
<div class="list">
  <div class="list-title">
    <h2>My Users</h2>
  </div>
  <div class="list-filter">
    <div class="filter-button">
      <button class="btn btn-primary" (click)="getUsers()">All Users</button>
    </div>
    <div class="filter-select">
      <span>Filter by permission</span>
      <select class="form-control" type="string" id="filter" 
          [(ngModel)]="permission" (ngModelChange)="onChangePermission()" >
  
        <option value="MANAGE">
          <p>MANAGE</p>
        </option>
        <option value="VIEW">
          <p>VIEW</p>
        </option>
        <option value="NONE">
          <p>NONE</p>
        </option>
      </select>
    </div>
  </div>
</div>

<table class="users">
  <thead>
    <tr>
      <td>User Name</td>
      <td>Name</td>
      <td>Email</td>
      <td>Level Permission</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.userName}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.permissionLevel}}</td>
      <td>
        <a routerLink="/detail/{{user.id}}">
          Detail
        </a>
      </td>
    </tr>
  </tbody>
</table>

<!-- <app-user-detail [user]="selectedUser"></app-user-detail> -->
<!-- <app-user-detail></app-user-detail> -->
